{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>{% block title %}My Website{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <!-- รวม Navigation Bar -->
    {% block nav %}
        {% include 'nav.html' %}
    {% endblock %}

    <main class="container mx-auto mt-4">
        {% block content %}
        <!-- เนื้อหาหลักของแต่ละหน้า -->
        {% endblock %}
    </main>

    <footer class="bg-blue-500 text-white p-4 mt-4 text-center">
        <p class="text-blue-400">&copy; 2024 My Website</p>
        <p class="text-blue-400">&copy; 2024 My Website</p>
        <p class="text-blue-400">&copy; 2024 My Website</p>
        <p class="text-blue-400">&copy; 2024 My Website</p>
        <p class="text-blue-400">&copy; 2024 My Website</p>
        <p class="text-blue-400">&copy; 2024 My Website</p>
    </footer>
</body>
</html>
