{% extends "layout.html" %}

{% block title %}
    เพิ่มร้านอาหารใหม่
{% endblock %}

{% block content %}
<!-- <h1 class="text-center text-2xl font-bold mb-4">เพิ่มร้านอาหารใหม่</h1> -->

<div class="flex justify-center">

    <form method="post" class="w-full max-w-xl" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="bg-white p-6 rounded shadow-md my-5">

            
            
            <!-- Profile Picture -->
            <div class="py-4 border-gray-200 grid grid-cols-6 items-center justify-center align-middle">
                <label for="file" class="col-span-1 justify-center items-center space-x-4">
                    <div class="relative">
                        {% if user.userprofile.profile_image %}
                            <img id="profilePreview" class="w-16 h-16 object-cover object-center rounded-full border border-black" src="{{ user.userprofile.profile_image.url }}" alt="Profile Image">
                        {% else %}
                            <img class="w-16 h-16 object-cover object-center rounded-full border border-black" src="https://as2.ftcdn.net/v2/jpg/05/65/22/41/1000_F_565224180_QNRiRQkf9Fw0dKRoZGwUknmmfk51SuSS.jpg" alt="Default Profile Image">
                        {% endif %}


                        <input id="file" type="file" name="profile_picture" class="hidden" accept="image/*" onchange="previewImage(event)">
                    </div>
                </label>
                <div class="col-span-1">
                    <button type="submit" name="save_profile_picture" class="text-xs font-medium text-blue-400">เปลี่ยนโปรไฟล์</button>
                </div>
            </div>
        
            <!-- Name Field -->
            <div class="py-4 border-gray-200 grid grid-cols-6 items-center justify-center align-middle">
                <p class="col-span-1 text-xs font-semibold text-black">ชื่อ</p>
                <input id="name-input" name="user" class="ml-5 col-span-5 text-xs font-medium text-gray-500 border px-2 rounded-lg py-3 border-gray-200" type="text" value="{{ user.username }}">
            </div>
        
            <!-- Email Field -->
            <div class="py-4 border-gray-200 grid grid-cols-6 items-center justify-center align-middle">
                <p class="col-span-1 text-xs font-semibold text-black">อีเมล</p>
                <input id="email-input" name="email" class="ml-5 col-span-5 text-xs font-medium text-gray-500 border px-2 rounded-lg py-3 border-gray-200" type="email" value="{{ user.email }}">
            </div>
        
            <!-- Phone Number Field -->
            <div class="py-4 border-gray-200 grid grid-cols-6 items-center justify-center align-middle">
                <p class="col-span-1 text-xs font-semibold text-black">เบอร์โทรศัพท์</p>
                <input id="phone-input" name="phone_number" class="ml-5 col-span-5 text-xs font-medium text-gray-500 border px-2 rounded-lg py-3 border-gray-200" type="text" value="{{ user.userprofile.phone_number }}">
            </div>
        
            <!-- About Me Field -->
            <div class="py-4 border-gray-200 grid grid-cols-6 items-start justify-center align-middle">
                <p class="pt-3 col-span-1 text-xs font-semibold text-black">เกี่ยวกับฉัน</p>        
                <textarea id="about-input" name="about_me" class="ml-5 col-span-5 h-28 text-xs font-medium text-gray-500 border px-2 rounded-lg py-3 border-gray-200">{{ user.userprofile.about_me }}</textarea>
            </div>
        </div>

        <div id="save-about-btn" class="col-span-4 col-start-1 flex space-x-2 items-center my-2">
            <div class="text-center border px-9 rounded-lg py-1 bg-blue-500">
                <button type="submit" name="save_about_me" class="text-sm font-medium text-white px-2 py-1">บันทึก</button>
            </div>
            <a href="{% url 'profile' %}" class="text-center border px-2 rounded-lg py-1 bg-gray-200">
                <div class="text-sm font-medium text-black px-2 py-1">ยกเลิก</div>
            </a>
        </div>
    </form>
    

    <script>
        function toggleEdit(field) {
            var inputElement = document.getElementById(field + '-input');
            var textElement = document.getElementById(field + '-text');
            
            // เก็บค่าเดิมไว้ใน data-original-value
            inputElement.setAttribute('data-original-value', inputElement.value);
            
            textElement.classList.add('hidden');
            inputElement.classList.remove('hidden');
            document.getElementById('edit-' + field + '-btn').classList.add('hidden');
            document.getElementById('save-' + field + '-btn').classList.remove('hidden');
        }
        
        function saveField(field) {
            var input = document.getElementById(field + '-input').value;
            document.getElementById(field + '-text').textContent = input;
            document.getElementById(field + '-text').classList.remove('hidden');
            document.getElementById(field + '-input').classList.add('hidden');
            document.getElementById('edit-' + field + '-btn').classList.remove('hidden');
            document.getElementById('save-' + field + '-btn').classList.add('hidden');
        }
        
        function cancelEdit(field) {
            var inputElement = document.getElementById(field + '-input');
            var textElement = document.getElementById(field + '-text');
            
            // ย้อนค่ากลับไปยัง data-original-value
            inputElement.value = inputElement.getAttribute('data-original-value');
            
            inputElement.classList.add('hidden');
            textElement.classList.remove('hidden');
            document.getElementById('edit-' + field + '-btn').classList.remove('hidden');
            document.getElementById('save-' + field + '-btn').classList.add('hidden');
        }
    </script>
    
</div>

{% endblock %}


